@import 'tailwindcss';

@theme {
    --color-primary: #ffd400;
    --color-light-gray-700: #b1b1a4;
    --color-light-gray-500: #b1b1a4;
    --color-light-gray-300: #ebebe2;
    --color-light-gray-100: #f3f3ed;
    --color-dark-gray-700: #272725;
    --color-dark-gray-500: #3a3a38;
    --color-dark-gray-300: #585854;
    --color-dark-gray-100: #b1b1a4;
    --color-error-l: #f27663;
    --color-error-m: #cc4b37;
    --color-success-l: #84fdb0;
    --color-success-m: #3adb76;
    --color-warning-l: #fac85a;
    --color-warning-m: #ffae00;
    --color-info: '#36F3FF';
}
